.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0 38px 0 38px;
  box-sizing: border-box;
}
img {
  display: block;
}

.us-section {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 1088px;
  margin: 0;
  padding: 0;
}
.us-title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 80px;
  margin: 0;
  width: 1088px;
}
.first-foto {
  position: absolute;
  top: 45px;
  left: 38px;
}
.second-foto {
  position: absolute;
  z-index: 99;
  bottom: 185px;
  right: 33px;
}
.foto-us {
  display: block;
  width: 352px;
  height: 752px;
}
.foto-us:first-child {
  position: absolute;
}
.foto-us:last-child {
  display: block;
}
.us-text {
  position: absolute;
  top: 45px;
  right: 0;
  width: 736px;
}
.text-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}
.text-list:first-child {
  padding-top: 0;
  margin-top: 0;
}
