.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
.section {
  padding-top: 80px;
}
.container {
  width: 1120px;
  margin: 0 auto;
}
.us-position {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.us-title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 45px;
}
.first-foto {
  position: absolute;
  top: 0;
  left: 0;
}
.second-foto {
  position: absolute;
  top: 150px;
  right: 0;
}
.foto-us {
  position: relative;
  width: 384px;
  margin-right: 40px;
}
.us-text {
  width: 736px;
}
.text-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}
.text-list:first-child {
  padding-top: 0;
  margin-top: 0;
}
